* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body {
    background-color: rgb(238, 238, 238);
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 0;
    /* border: 1px solid red; */
}

.content .card1 {
    /* border: 1px solid green; */
    border-radius: 0.5rem;
    /* width: 75%; */
    /* padding: 1rem 2rem; */
    box-shadow: 0px 0px 10px black;
    text-align: center;
}

.content .card1 h1 {
    border-radius: 0.5rem 0.5rem 0 0;
    font-size: 2.73rem;
    background-color: black;
    color: white;
}

.content .card1 img {
    padding: 1rem;
    height: 20rem;
}

.content .card1 hr {
    margin: 0.41rem auto;
    width: 20rem;
}

.content .card1 p {
    background-color: black;
    color: white;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 1rem;
}

.content .card2 {
    margin: 1rem 2rem;
    text-align: center;
    border-radius: 0.5rem;
    /* width: 75%; */
    /* padding: 0.52rem 0.81rem; */
    box-shadow: 0px 0px 10px black;
    text-align: center;
}

.content .card2 h1 {
    font-size: 1.2rem;
    text-align: left;
    padding: 0.2rem;
    background-color: black;
    border-radius: 0 0 0.5rem 0.5rem;
    color: white;
}

.content .card2 img {
    width: 20rem;
    height: 10rem;
    padding: 0.51rem 0.42rem;
}


.heading h2 {
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px green;
}

.category {
    /* border: 1px solid red; */
    margin: 1rem 0rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.category .card3{
    border: 5px solid black;
    width: 20rem;
    text-align: center;
    box-shadow: 5px 5px 10px black;
    padding: 1.52rem;
}
.category .card3 h2{
    font-size: 2rem;
}
.category .card3:hover{
    background:linear-gradient(50deg,#fc00ff,#00dbde);
    box-shadow: 5px 5px 1px black;
}
.category .card3:hover h2{
    color: white;
}




.seven {
    margin: 3rem 0;
}

.seven h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    color: #222;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.seven h1:after,
.seven h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    height: 5px;
    background-color: #f8f8f8;
}

.three h1 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
}

.three h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #111;
}

.three h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: #333;
}

.nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
}
.nav .navleft{
    margin: 1rem 2rem;
}
.nav ul {
    list-style: none;
    display: flex;
}
.nav ul li{
    margin: 1rem 2rem;
}


.newscard{
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.newscard .card4{
    margin: 2rem auto;
    display: flex;
    /* align-items: center; */
    /* padding: 0.2rem; */
    width: 60%;
    justify-content: left;
    box-shadow: 2px 2px 10px black;
    border: 1px black solid;
}
.newscard .newsimg img{
    height: 12rem;
    width: 12rem;
}
.newscard .card4 .newstext{
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    flex-direction: column;
}
.newscard .card4 .newstext h1{
    margin: 1.3rem;
    font-size: 1.52rem;
}
.newscard .card4 .newstext p{
    color: #222;
    /* border: 1px solid red; */
    height: 2.5rem;
    overflow: hidden;
    line-height: 2rem;
}
.newscard .card4 .newstext button{
    /* width: 10%; */
    margin: 1rem auto;
    border: none;
    border: 2px solid black;
    border-radius: 0.2rem;
    padding: 0.21rem ;
    background-color:lawngreen   ;
}
.newscard .card4 .newstext button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.newscard .card4 .newstext button:hover{
    background:linear-gradient(50deg,#a8ff78,#78ffd6);
}

.fnewscont{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
    margin: auto;
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
}
.fnewscont img{
    border: 2px solid black;
    padding: 0.2rem;
    height: auto;
    width: 80%;
}
.fnewscont .newcont h1{
    font-size: 2rem;
    margin: 1rem auto;
}
.fnewscont .newcont p{
    width: 50%;
    margin: auto;
    background-color: rgb(181, 181, 181);
}
.comment{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
    margin: 2rem auto;
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
}
.comment h2{
    font-size: 1.2rem;
    text-transform: uppercase;
}
.comment form input{
    font-size: 0.81rem;
    font-family: 'Times New Roman', Times, serif;
    margin: 0.71rem auto;
    width: 10rem;
    text-align: left;    ;
    padding: 0.1rem;
}
.comment .comt{
    border: 2px solid black;
    width: 80%;
    margin: 1rem auto;
    /* border: 1px solid red; */
}
.comment .comt p{
    margin: 1rem 0;
    background: black;
    color: white;
}