<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports News</title>
    <link rel="stylesheet" href="/static/style.css">
</head>


<body>
    {% include 'nav.html'%}
    {% block content %}
    <div class="newscard">
        {% for data in fnews%}
        <div class="card4">
            <div class="newsimg">
                <img src="/mediafiles/{{data.image}}" alt="">
            </div>
            <div class="newstext" style="width: 30rem;height: 10rem;text-align: center;">
                <h1>{{data.title}}</h1>
                <p>{{data.detail}}</p>
                <button><a href="/new/{{data.id}}">READ MORE</a></button>
            </div>
        </div>
        {% endfor %}
    </div>
    {%endblock content%}

</body>

</html>