{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Track</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    {% include 'nav.html'%}
    {% block content %}
    <div class="content">
        <div class="card1">
            <h1>{{firstn.title}}</h1>
            <img src="mediafiles/{{firstn.image}}" alt="">

            <p>{{firstn.detail}}</p>
        </div>
    </div>

    <div class="seven">
        <h1>RECENT NEWS</h1>
    </div>

    <div class="content">
        {% for data in threenews%}
        <div class="card2">
            <img src="mediafiles/{{data.image}}" alt="">
            <h1>{{data.title}}</h1>

        </div>
        {% endfor %}
    </div>


    
    <div class="seven">
        <h1>Categories</h1>
    </div>


    <div class="category" id="cats">
        <!-- <div class="card3" style="background: url(mediafiles/{{cat.cat_img}});color: red; background-size: cover; background-position: center;"> -->
        {% for data in threecat%}
        <div class="card3">
            <a href="/catnews/{{data.id}}" style="text-decoration: none;">
                <h2>{{data.title}} <i class="fa-solid fa-arrow-right"></i></h2>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endblock content %}
</body>

</html>