<!DOCTYPE html>
{%load static%}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Track</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="nav">
        <div class="navleft">
            <h1>NEWS_TRACK</h1>
        </div>
        <div class="navright">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/news">All News</a></li>
                <li><a href="#cats">All Category</a></li>
            </ul>
        </div>
    </div>
</body>

</html>